/* =================================
  Base Element Styles
==================================== */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}

body {
	line-height: 1.5;
	margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-transform: uppercase;
	color: #fff;
  font-size: 2em;
  padding:20px;
  margin: 0;
}
h2 {
  font-size: 1.5em;
	margin: 0;
	color: #3f4850;
  font-weight: 600;
}

p {
  color: #7b8b8e;
	font-size: .95em;
	margin-bottom: 1.8em;
  font-size: 1em;
}

/* =================================
  Styles
==================================== */
.header {
  background-color: #5fcf80;
}

.overview_container {
  text-align: center;
}

.form_container {
  text-align: left;
  margin: 1em;
}

.double_line {
  margin-bottom:2px;
  border:2px solid #3f4850;
  width: 100%;
}

.double_thin_line {
  border: 1px solid #3f4850 !important;
  width: 100%;
  margin-bottom: 2em;
}

.single_line {
  border: 1px solid;
  color: #3f4850;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

footer {
  text-align: center;
  font-style: italic;
  margin-bottom: 4em;
}

/* =================================
  Form Styles
==================================== */
.form_overview {
  margin: 2em;
}

.form_title {
  font-size: 1.5em;
	color: #3f4850;
  font-weight: 600;
  margin-bottom: 1em;
}

label, select {
  color: #7b8b8e;
	font-size: .95em;
}

.contact input, select, textarea {
  display: block;
  background: #edeff0;
  padding: 20px;
  border-radius: 5px;
  margin-bottom:1em;
  font-size: 1em;
  color: #3f4850;
  margin-top:.3em;
}

.contact input:not(#zip_code), select, textarea{
  width: 100%;
}

select {
  height: 60px;
  text-indent: 1em;
}

input:focus {
  color:#fff;
  background-color: #3f4850;
  transition-timing-function: ease-out;
  transition: .5s;
}

input::placeholder {
	opacity: 1;
	font-style: italic;
	text-align: right;
	padding-right: 10px;
  color: #c6ccd2;
}

input[type=radio], input[type=checkbox] {
  margin-top: 1em;
}

.row {
  margin-bottom: 1.5em;
}

input[type=checkbox]:checked + label {
  color: #3f4850;
  font-weight: bold;
}

input[type=radio]:checked + label {
  color: #3f4850;
  font-weight: bold;
}

textarea {
  resize: none;
  height: 120px;
}

button {
  color: #ffffff;
  font-size: 1.5em;
  background-color: #5fcf80;
  width: 100%;
  padding: 20px 0;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #36b55c;
  transition-timing-function: ease-out;
  transition: .5s;
}

/* =================================
  Media Queries
==================================== */
@media (min-width: 768px) {

  form {
    margin: 0 auto;
    width: 600px;
  }

  .contact input,
  .contact label,
  .contact select {
    display: inline-block;
  }

  .contact label {
      width: calc(20% - 5px);
  }

  .contact input:not(#zip_code),
  #state {
      width: calc(80% - 5px);
  }

  footer {
    margin-bottom: 320px;
  }
}
